@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
    background-color: #ddbebe;
    font-family: 'Noto Sans JP', sans-serif;
}
  
  header {
    background-color: #c89595;
    text-align: center;
    color: #ededed;
  }
  
  h1 {
    font-size: 60px;
  }

  #mon {
    text-align: center;
    font-size:30px;
  }

  #quest {
    font-size: 30px;
    color:#222222;
  }

  #toi1,#toi2,#toi3 {
    font-size: 30px;
    padding-right: 10px;
    color:#222222;
  }

  #judge {
    font-size:25px;
  }

  #re {
    text-align: center;
  }

  button{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #c89595;
    color: #ededed;
    border-bottom: solid 4px #966d6d;
    border-radius: 3px;  
  }

  button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

  h3{
    font-size: 25px;
    text-align: center;
  }

  footer {
    background-color: #6c4a4a;
    text-align: center;
    color: #ededed;
  }
  
  p {
    font-size: 100%;
    text-align: center;
    height: 100px;
  }

  